# ===================== LOGS =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===================== ENV FILES =====================
.env
.env.*
!.env.example

# ===================== DEPENDENCIES =====================
node_modules/

# ===================== BUILDS =====================
# Frontend
Frontend/dist
Frontend/dist-ssr

# Backend
Backend/dist
Backend/build

# ===================== LOCAL CONFIG =====================
*.local

# ===================== EDITORS =====================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===================== OS =====================
Thumbs.db
